<div class="row justify-content-center">
<div class="col-md-6 mb-4">
    <p><a href="#" class="text-dark d-flex justify-content-center"><h2>Login</h2></a></p>
        <div class="row justify-content-center px-md-3">
          <div class="p-3 border bg-light">
        <form class="form login-form">
            <div class="form-group">
            <label for="email-login">Email:</label>
            <input class="form-input w-100" type="text" id="email-login" />
            </div>
            <div class="form-group">
            <label for="password-login">Password:</label>
            <input class="form-input w-100" type="password" id="password-login" />
            </div>
            <div class="form-group">
            <button class="btn btn-dark" type="submit">Login</button>
            </div>
        </form>
    </div>
    </div>
    </div>
   
    <div class="col-md-6 mb-4">
        <p><a href="#" class="text-dark d-flex justify-content-center"><h2>Signup</h2></a></p>
        <div class="row justify-content-center px-md-3">
          <div class="p-3 border bg-light">
      <form class="form signup-form">
        <div class="form-group">
          <label for="name-signup">Name:</label>
          <input class="form-input w-100" type="text" id="name-signup" />
        </div>
        <div class="form-group">
          <label for="email-signup">Email:</label>
          <input class="form-input w-100" type="text" id="email-signup" />
        </div>
        <div class="form-group">
          <label for="password-signup">Password:</label>
          <input class="form-input w-100" type="password" id="password-signup" />
        </div>
        <div class="form-group">
          <button class="btn btn-dark" type="submit">Signup</button>
        </div>
      </form>
      </div>
    </div>
    </div>

  
</div>
  
    <script src="./js/login.js"></script>