#blog-title-btn {
    border-style: none;
}

#blog-title-btn:focus {
    outline: none;
}

.card {
    padding-right: 0;
    padding-left: 0;
}

.card-header {
    font-weight: 800;
    color: whitesmoke;
    text-decoration: underline;
}

.card-title {
    padding-left: 1.25rem;
    padding-top: 1.25rem;
    font-weight: bold;
}

#title {
    font-size: 1.6rem;
    font-weight: 700;
    color: whitesmoke;
    margin-right: 0px;
}

@media screen and (max-width: 355px) {
    #nav-container {
        justify-content: center;
    }
}